@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Permanent+Marker&display=swap');

html, body {
  height: 100%;
  font-family: 'Dosis', sans-serif;
  background-color: #0b1349;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#notes {
  display: none;
}

#message {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color:  #03A696;
  font-size: 2.5rem;
  text-decoration: underline;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: #850d71;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  width: 75px;
  height: 75px;
  border: 1.5px #850d71 dotted;
  border-radius: 10%;
  background-color: rgb(219, 216, 216);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/skull.svg") #850d71;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/flag.svg") #03A696;
}

.button {
  width: 120px;
  height: 43px;
  font-family: Dosis;
  background-color: #850d71;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
  border-style: none;
  border-radius: 12px;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.5);
  outline: none;
}

.button:hover {
  background-color: #03A696;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}